<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-brand">CrypTerminator</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to 'Home', root_path, class: 'nav-link'%>
          <% if logged_in? %>
            <%= link_to 'Your Bots', bots_path, class: 'nav-link'%>
            <%= link_to 'New Bot', new_bot_path, class: 'nav-link'%>
            <div style="padding-left: 1000px;"><%= link_to 'Logout', '/logout', class: 'nav-link' %></div>
          <% else %>
            <%= link_to 'Login', '/login', class: 'nav-link' %>
            <%= link_to 'Sign Up', '/users/new', class: 'nav-link' %>
          <%end%>
        </div>
      </div>
    </div>
  </nav>

  <div class="container text-center">
    <div class="row">
      <div class="p-2 col">
        <h1 class="display-1">CrypTerminator</h1>
        <h2>No-Code Trading Bot Platform</h2><br>
        <div>
          <% if logged_in? %>
            <h2>You are logged in, <%= current_user.username %></h2>
            <%= link_to 'View Your Bots', bots_path, :class => 'btn btn-primary' %>
          <% else %>
            <%= button_to "Login", '/login', method: :get, :class => 'btn btn-primary'%><br>
            <%= button_to "Sign Up", '/users/new', method: :get, :class => 'btn btn-primary'%>
          <%end%>
        </div>
      </div>
      <div class="p-5 col-6">
        <h2>The Current Situation</h2>
        <p class="lead">
          The question we set out to answer in the search for our startup idea was: why do so few people find success in the world of trading with the seemingly endless amount of information available?
        </p>
        <p>
          The rise of video media platforms like Youtube and TikTok over the past decade has changed the way people learn about topics and develop new skills in a drastic way. These platforms have led to an unprecedented amount of information and video tutorials being accessible to anyone at the click of a button.
          One trend that has prevailed on these platforms are ‘get rich quick schemes’. With the development and popularity of cryptocurrency in the past few years, thousands of videos have been made to teach the average person how to trade and quickly make a lot of money. Many of these videos have amassed well over a million views, and teach the consumer about strategies for crypto trading, both manually and with the assistance of an automated trading bot. Any search regarding crypto trading shows the clear, widespread interest in learning about this complex topic, but very few people actually become successful traders in the long run.
        </p>
      </div>
    </div>
  </div>
</body>
</html>
