<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand">Navbar</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to 'Home', root_path, class: 'nav-link'%>
        <%= link_to 'Your Bots', bots_path, class: 'nav-link'%>
        <%= link_to 'New Bot', new_bot_path, class: 'nav-link'%>
        <%= link_to 'Logout', '/logout', class: 'nav-link' %>
      </div>
    </div>
  </div>
</nav>
<h2>Edit Existing Bot</h2>
<%= form_tag bot_path(@bot), :method => :put do %>
  <%= label :bot, :name, 'Bot Name', class: 'col-form-label' %>
  <%= text_field :bot, :name, class: 'form-control' %>
  <%= label :bot, :movingAverage1, 'Moving Average 1', class: 'col-form-label' %>
  <%= text_field :bot, :movingAverage1, class: 'form-control' %>
  <%= label :bot, :movingAverage2, 'Moving Average 2', class: 'col-form-label' %>
  <%= text_field :bot, :movingAverage2, class: 'form-control' %>
  <%= label :bot, :short, 'Short', class: 'col-form-label' %>
  <%= select :bot, :short, %w[true false], {}, { class: 'form-control col-1'} %>
  <br/>
  <%= submit_tag 'Update Bot Info', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', bots_path, :class => 'btn btn-secondary' %>
<% end %>

