<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Your Bots</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand">Crypterminator</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to 'Home', root_path, class: 'nav-link'%>
        <%= link_to 'Your Bots', bots_path, class: 'nav-link'%>
        <%= link_to 'New Bot', new_bot_path, class: 'nav-link'%>
        <%= link_to 'Logout', '/logout', class: 'nav-link' %>
      </div>
    </div>
  </div>
</nav>
<h2>Your current bot configurations:</h2>

<table class="table table-striped col-md-12" id="movies">
  <thead>
  <tr>
    <th>Bot Name</th>
    <th>Date Created</th>
    <th>More Info</th>
  </tr>
  </thead>
  <tbody>
  <% @bots.each do |bot| %>
    <tr>
      <td>
        <%= bot.name %>
      </td>
      <td>
        <%= bot.created_at %>
      </td>
      <td>
        <%= link_to "More Details", bot_path(bot) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Add new bot configuration', new_bot_path, class: 'btn btn-primary' %>