<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Create Bot</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand">CrypTerminator</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to 'Home', root_path, class: 'nav-link'%>
        <%= link_to 'Your Bots', bots_path, class: 'nav-link'%>
        <%= link_to 'New Bot', new_bot_path, class: 'nav-link'%>
        <%= link_to 'Logout', '/logout', class: 'nav-link' %>
      </div>
    </div>
  </div>
</nav>
<h2>Create a new bot here:</h2>
<b>In this form, Bot name and Symbol are required.</b>
Recommended: *Only input 3 of the technical indicators from EMA to VWAP*
<%= form_tag bots_path, class: 'form' do %>
  <%= label :bot, :name, 'Bot Name', class: 'col-form-label' %>
  <%= text_field :bot, :name, class: 'form-control', :required => true%>
  <%= label :bot, :ema, 'EMA', class: 'col-form-label' %>
  <%= text_field :bot, :ema, class: 'form-control' %>
  <%= label :bot, :bb, 'BB', class: 'col-form-label' %>
  <%= text_field :bot, :bb, class: 'form-control' %>
  <%= label :bot, :rsi, 'RSI', class: 'col-form-label' %>
  <%= text_field :bot, :rsi, class: 'form-control' %>
  <%= label :bot, :sma, 'SMA', class: 'col-form-label' %>
  <%= text_field :bot, :sma, class: 'form-control' %>
  <%= label :bot, :macd, 'MACD', class: 'col-form-label' %>
  <%= text_field :bot, :macd, class: 'form-control' %>
  <%= label :bot, :sar, 'SAR', class: 'col-form-label' %>
  <%= text_field :bot, :sar, class: 'form-control' %>
  <%= label :bot, :vwap, 'VWAP', class: 'col-form-label' %>
  <%= text_field :bot, :vwap, class: 'form-control' %>
  <%= label :bot, :symbol, 'Symbol', class: 'col-form-label', :required => true%>
  <%= text_field :bot, :symbol, class: 'form-control' %>
  <%= label :bot, :short, 'Short', class: 'col-form-label' %>
  <%= select :bot, :short, %w[true false], {}, { class: 'form-control col-1'} %>
  <br/>
  <%= submit_tag 'Save Changes', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', bots_path, class: 'btn btn-secondary' %>
<% end %>
</body>

</html>
