<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand">Navbar</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to 'Home', root_path, class: 'btn btn-primary', style:"margin-right:10px" %>
        <%= link_to 'Your Bots', bots_path, class: 'btn btn-primary', style:"margin-right:10px" %>
        <%= link_to 'New Bot', new_bot_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</nav>
<ul id="details">
  <li>
    Name:
    <%= @bot.name %>
  </li>
  <li>
    Created At:
    <%= @bot.created_at %>
  </li>
  <li>
    Moving Average 1:
    <%= @bot.movingAverage1%>
  </li>
  <li>
    Moving Average 2:
    <%= @bot.movingAverage2%>
  </li>
  <li>
    Short?:
    <%= @bot.short%>
  </li>
</ul>

<div class="row">
  <%= link_to 'Edit', edit_bot_path(@bot), class: 'btn btn-primary col-2' %>
  <%= link_to 'Delete', bot_path(@bot), 'data-method': 'delete', 'data-confirm': 'Are you sure?', class: 'btn btn-danger col-2' %>
  <%= link_to 'Back to bot list', bots_path, class: 'btn btn-primary col-2' %>
</div>
