<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>View Bot</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-brand">CrypTerminator</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to 'Home', root_path, class: 'nav-link'%>
          <%= link_to 'Your Bots', bots_path, class: 'nav-link'%>
          <%= link_to 'New Bot', new_bot_path, class: 'nav-link'%>
          <div style="padding-left: 1000px;"><%= link_to 'Logout', '/logout', class: 'nav-link' %></div>
        </div>
      </div>
    </div>
  </nav>

  <div>
    <div class="h-100 d-flex justify-content-center align-items-center" style="backdrop-filter: blur(5px);">
      <div>
        <div class="card" style="width: 27rem;">
          <div class="card">
            <div class="card-body">
              <h1>Attributes</h1>
                <table class="table table-striped col-md-12" id="bot_output">
                  <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                  </tr>

                  <% @bot.attributes.each do |key, value| %>
                    <% unless %w[username id updated_at].include? key %>
                      <tr>
                        <td><%=  key  %></td>
                        <%  if !value.nil? %>
                        <td><%= value %></td>
                        <%  else  %>
                        <td>N/A</td>
                        <%  end  %>
                      </tr>
                    <% end %>
                  <% end %>
                </table>
            </div>
        </div>
      </div>
    </div>

    <div class="h-100 d-flex justify-content-center align-items-center" style="backdrop-filter: blur(5px);">
      <div class="container">
        <div class="row">
          <div class="col">
            <div>
              <div class="card" style="width: 27rem;">
                <div class="card">
                  <div class="card-body">
                    <h1>Profit Net Loss (%)</h1>
                    <table class="table table-striped col-md-12" id="bot_output">

                      <%= line_chart @chart_data_pnl, label: "PNL", ytitle: "PNL"%>

                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 27rem;">
              <div class="card">
                <div class="card-body">
                  <h1>Win Rate (%)</h1>
                  <table class="table table-striped col-md-12" id="bot_output">

                    <%= line_chart @chart_data_wr, label: "WR", ytitle: "WR"%>

                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="h-100 d-flex justify-content-center align-items-center" style="backdrop-filter: blur(5px);">
            <div>
              <div class="card" style="width: 27rem;">
                <div class="card">
                  <div class="card-body">
                    <h1>Trade Count</h1>
                    <table class="table table-striped col-md-12" id="bot_output">

                      <%= line_chart @chart_data_tc, label: "TC", ytitle: "TC", height: "200px"%>

                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="h-100 d-flex justify-content-center align-items-center" style="backdrop-filter: blur(5px);">
    <%= link_to 'Back to Bot Catalogue', bots_path, class: 'btn btn-primary col-3' %>
    <%= link_to 'Delete', bots_destroy_path(@bot), :method => :delete, data: {:confirm => "You sure?" } ,
                :title => "Delete #{@bot.name}", :class => 'btn btn-danger col-2', :name => "delete"%>
    <button onClick="window.location.reload();" class="btn btn-secondary col-2">Refresh Page</button>
  </div>

  </div>

</body>
</html>